{
  "rules": {
    "semi": ["error", "always"],
    "no-multi-spaces": ["error"],
    "comma-dangle": ["error", "always-multiline"],
    "@typescript-eslint/naming-convention": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "ignoreRestSiblings": true
      }
    ],
    "@typescript-eslint/explicit-function-return-types": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "no-console": "error"
  },
  "extends": [
    "plugin:@typescript-eslint/recommended" // Uses the recommended rules from$
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020, // Allows for the parsing of modern ECMAScript features
    "sourceType": "module" // Allows for the use of imports
  },
  "env": {
    "node": true
  }
}
